<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/styles/login-page.css">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form name="f" th:method="post" action="/process_login">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <label for="username">Username</label>
        <input type="text" name="username" id="username"/>

        <label for="password">Password</label>
        <input type="password" name="password" id="password"/>

        <input type="submit" value="Login"/>

        <div th:if="${param.error}" class="error-message">
            Incorrect Username or Password
        </div>

        <p>If you haven't registered yet, <a href="/auth/registration">click here</a> to register.</p>
    </form>
</div>
</body>
</html>
